!!! 5
html
  head
    title Dots
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript'
      data-main='/javascripts/main.js'
    , src='http://cdnjs.cloudflare.com/ajax/libs/require.js/0.24.0/require.min.js')
  body
    #container
      #sidebar
        div.user#user
        div.controls#controls
          h2 Game
        div.chat#chat
          h2 Chat
        div.status#status
          h2 Status
      #content
        div.board#board
